#mainlogin {
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-form {
    width: 22rem;
    padding: 5rem 2rem 5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    border: 0.1rem solid #313131;
    border-radius: 20px;
}

button {
    cursor:pointer;

    height: 2.5rem;
    border: 0;
    background-color: #949494;
    color: #fff;
    border: 0.1rem solid #313131;
    border-radius: 20px;
    font-size: 1.1rem;
    transition: .2s;
}

.login-form button:hover {
    background-color: #757575;

}

.signout {
    background-color: rgb(255, 130, 130);
}

input {
    border: none;
    border-bottom: .1rem solid #313131;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 1rem;
    padding: .8rem 1rem .8rem 1rem;
    box-shadow: 0;
    
}

.login-form a {
    text-decoration: none;
    color: orange;
    font-weight: 300;
    cursor: pointer;
}

.error {
    color: red;
    font-style: italic;
    font-size: .9rem;
}

.backNreset p {
    margin: 0;
}

h1, h2, h3, p {
    margin: 0;
}

span {
    color: orange;
}