#mainlogin {
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-form {
    max-width: 25rem;
    width: 80%;
    padding: 6rem 0rem 6rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border: 0.1rem solid #313131;
    border-radius: 20px;
}

button {
    width: 70%;
    cursor:pointer;
    padding: .8rem 1rem .8rem 1rem;
    border: 0;
    background-color: var(--orange-nav);    
    color: #313131;
    border: 0.1rem solid #313131;
    border-radius: 2rem;
    font-size: 1.1rem;
    transition: .2s;
}

.login-form button:hover {
    background-color: var(--orange-nav-br);
}

.signout {
    background-color: rgb(255, 130, 130);
}

input {
    border: none;
    border: .1rem solid #313131;
    border-radius: 2rem;
    height: 1rem;
    padding: .8rem 1rem .8rem 1rem;
    width: 70%;
    
}

.login-form a {
    text-decoration: none;
    color: orange;
    font-weight: 300;
    cursor: pointer;
}

.error {
    color: red;
    font-style: italic;
    font-size: .9rem;
}

.backNreset {
    display: flex;
    flex-direction: column;
    gap: .3rem;

}

.backNreset p {
    margin: 0;
    text-align: center;
}

h1, h2, h3, p {
    margin: 0;
}

.login-form h3 {
    text-align: center;
}

span {
    color: orange;
    font-weight: bold;
}

@media (max-width: 323px) {
    span {
        font-size: .8rem;
    }
}