#mainlogin {
    height: 90vh;
    display: flex;
    margin-top: 10rem;
    justify-content: center;
}

.login-form {
    width: 20rem;
    min-width: 15rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

button {
    height: 2rem;
}

.login-form a {
    text-decoration: none;
    color: orange;
    font-weight: 300;
    cursor: pointer;
}

.error {
    color: red;
    font-style: italic;
    font-size: .9rem;
}

.backNreset p {
    margin: 0;
}
