#footer {
    background-color: #404040;
    padding: 3rem 6rem 3rem 6rem;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}

#footer img {
    width: 10rem;
}

.material {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.material ul {
    list-style-type: none;
}

.material p {
    font-size: 1.1rem;
    font-weight: bold;
    color: orange;
}

.copy {
    width: 100%;
    text-align: center;
}

@media (max-width: 547px) {
    #footer {
        padding: 2rem;
    }
}